# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs and crash reports
*.log
*.pid

# Test output
htmlcov/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# misc

junk.txt